
.bg-light-blue {
  -fx-background-color: #B8D0EB;
}

.bg-purple {
  -fx-background-color: #6F2DBD;
}

.bg-light-purple {
  -fx-background-color: #B298DC;

}

.text-purple {
  -fx-text-fill: #6F2DBD;
}

.text-white {
  -fx-text-fill: #fff;
}

.new-profile {
  -fx-padding: 0px;
}


.select-profile-button {
  -fx-background-color: #6F2DBD;
  -fx-text-fill: white;
  -fx-font-size: 30px;
  -fx-background-radius: 10px;


}

.rounded {
  -fx-background-radius: 10px;
}


.drawing-canvas {
  -fx-border-color: #6F2DBD;
  -fx-border-width: 4px;
  -fx-background-color: white;
}

.list-cell {
  -fx-background-color: #B8D0EB;
  -fx-text-fill: #6F2DBD;
  -fx-padding: 0px;

}

.top-3-list.list-cell {
  -fx-font-size: 30.0px;

}


.list-default {
  -fx-font-size: 22px;
}

/*Background color of the whole context menu*/
.choice-box .context-menu { 
    -fx-background-color: #6F2DBD;
    -fx-pref-width: 150;
  }
/*Focused item background color in the list*/
.choice-box .menu-item:focused { -fx-background-color: #B298DC; }
/*Text color of non-focused items in the list*/
.choice-box .menu-item > .label { -fx-text-fill: white; }
/*Text color of focused item in the list*/
.choice-box .menu-item:focused > .label { -fx-text-fill: #6F2DBD; }

/*Background color of the control itself*/
.choice-box {
  -fx-background-color: #6F2DBD;
  -fx-mark-color: #B298DC; /* arrow color*/
}

/* elected item text color on the control itself */
.choice-box > .label { -fx-text-fill: white; }