
.bg-light-blue {
  -fx-background-color: #A7D2CB;
}

.bg-Biege {
  -fx-background-color: #F2D388;
}

.bg-light-Biege {
  -fx-background-color: #FFE9A0;
}

.bg-transparent {
  -fx-background-color: transparent;
}

.bg-white {
  -fx-background-color: white;
}

.text-Burgundy {
  -fx-text-fill: #874C62;
}

.scrollbar-none {
  -fx-vbar-policy: NEVER;
  -fx-hbar-policy: NEVER;
}

.border-none {
  -fx-border-style: none;
  -fx-border-width: 0;
  -fx-border-insets: 0;
}

.border-burgundy {
  -fx-border-color: #874C62;
  -fx-border-width: 2;
}

.outline.label .text {
  -fx-stroke: #ffff;
  -fx-stroke-width: 1px;
}

.text-white {
  -fx-text-fill: #fff;
}

.new-profile {
  -fx-padding: 0px;
}


.select-profile-button {
  -fx-background-color: #F2D388;
  -fx-text-fill: #874C62;
  -fx-font-weight: bold;
  -fx-font-size: 30px;
  -fx-background-radius: 10px;
  -fx-stroke: #ffff;
  -fx-stroke-width: 1px;


}

.rounded {
  -fx-background-radius: 10px;
  -fx-border-radius: 10px;
}


.drawing-canvas {
  -fx-border-color: #F2D388;
  -fx-border-width: 4px;
  -fx-background-color: white;
}

.list-cell {
  -fx-background-color: transparent;

  -fx-text-fill: #874C62;
  -fx-padding: 0px;

}

.pane {
  -fx-background-color: #fff;
  -fx-border-color: #F2D388;
  -fx-background-radius: 10px;
  -fx-border-radius: 10px;
  -fx-border-width: 4px;


}

.top-3-list.list-cell {
  -fx-font-size: 30.0px;

}

.button:pressed {
  -fx-background-color: #d6bb78;
}

.list-default {
  -fx-font-size: 22px;
}

/*Background color of the whole context menu*/
.choice-box .context-menu {
  -fx-background-color: #F2D388;
  -fx-pref-width: 150;
}

/*Focused item background color in the list*/
.choice-box .menu-item:focused {
  -fx-background-color: #d6bb78;
}

/*Text color of non-focused items in the list*/
.choice-box .menu-item > .label {
  -fx-text-fill: #874C62;
}

/*Text color of focused item in the list*/
.choice-box .menu-item:focused > .label {
  -fx-text-fill: #874C62;
  -fx-font-weight: bold;
}

/*Background color of the control itself*/
.choice-box {
  -fx-background-color: #F2D388;
  -fx-mark-color: #874C62; /* arrow color*/
}

/* elected item text color on the control itself */
.choice-box > .label {
  -fx-text-fill: #874C62;
}


